.person-page
{
    text-align: center;
}

.person-page .image
{
    width: 68px;
    float: left;
    height: 68px;    
    margin: 20px;
    border-radius: 50%;
    background-size: cover;
}

.person-page .name
{
    float: left;
    margin: 38px 0;
    font-size: 24px;
}

.person-page button
{
    float: right;
    border: none;    
    font-size: 30px;
    padding: 30px 37px;  
}

.person-page button.btn-back
{
    color: #f44336;
    background-color: #feedeb;
}

.person-page button.btn-sort
{
    color: #2196f3;
    background-color: #f0f8fe;
}

.person-page button.btn-sort.btn-selected
{
    padding: 29px 36px;
    border: 1px solid #b0dcff;
    background-color: #d2ebff;
}

.person-page button.btn-sort.btn-sort-asc svg:nth-child(2),
.person-page button.btn-sort.btn-sort-desc svg:nth-child(1)
{
    display: none;
}

.person-page button span
{
    display: block;
    font-size: 12px;
}

.person-page .hits,
.person-page .points
{
    float: right;
    font-size: 24px;
    color: #9c27b0;
    margin: 38px 20px;
    font-weight: bold;
}

.person-page .matches
{
    left: 0;
    right: 0;
    bottom: 0;
    top: 188px;
    overflow-y: auto;
    position: absolute;
    border-top: 1px solid #ddd;
}

.person-page .matches .match
{
    padding: 10px;
    position: relative;
    transition: all .3s ease;
}

.person-page .matches .match .info
{
    color: gray;
}

.person-page .matches .match.visible
{
    cursor: pointer;
}

.person-page .matches .match.visible:hover
{
    background-color: #eee;
}

.person-page .matches .match:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}

.person-page .matches .match .info-left
{
    top: 44px;
    left: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 4px;
}

.person-page .matches .match .info-right
{
    top: 42px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.person-page .matches .match .info-2,
.person-page .matches .match .info-3
{
    text-align: center;
}

.person-page .matches .match .score
{
    width: 100%;
    display: table;
}

.person-page .matches .match .score img
{
    width: 48px;
    height: 32px;
    margin: 8px 0;
}

.person-page .matches .match .score span
{
    padding: 0 5px;
    line-height: 20px;
    text-transform: uppercase;
}

.person-page .matches .match .score .left
{
    width: 40%;
    float: left;
    text-align: right;
}

.person-page .matches .match .score .left img,
.person-page .matches .match .score .left span
{
    float: right;
    display: block;    
}

.person-page .matches .match .score .center
{
    width: 20%;
    float: left;
    padding: 2px;
    line-height: 20px;
    text-align: center;
}

.person-page .matches .match .score .center .guess-txt
{
    font-size: 14px;
    font-weight: bold;
}

.person-page .matches .match .score .center .guess-input
{
    margin-top: 5px;
}

.person-page .matches .match .score .center .guess-input input
{
    width: 40px;
    padding: 4px;
    font-size: 20px;
    text-align: center;
}

.person-page .matches .match .score .center span:nth-child(2)
{
    font-size: 12px;
}

.person-page .matches .match .score .right
{
    width: 38%;
    float: left;
    text-align: left;
}

.person-page .matches .match .score .right img,
.person-page .matches .match .score .right span
{
    float: left;
    display: block;    
}

.person-page .matches .match .score .left span,
.person-page .matches .match .score .right span
{
    line-height: 0;
    font-size: 18px;
    margin-top: 10px;
    padding: 12px 10px;
}

.person-page .matches .match:not(.visible) .result,
.person-page .matches .match:not(.visible) .info-left,
.person-page .matches .match:not(.visible) .info-right,
.person-page .matches .match:not(.visible) .guess-txt
{
    display: none;
}

.person-page .matches .match.visible .guess-input
{
    display: none;
}

@media (max-width:700px) 
{
    .person-page .image
    {
        width: 56px;
        height: 56px;
        margin: 10px;
    }
    .person-page .name
    {
        margin: 20px 0;
        font-size: 20px;
    }
    .person-page button
    {
        top: 164px;
        padding: 15px 0;
        position: absolute;        
    }
    .person-page button.btn-back
    {
        left: 0;
        width: 33%;
    }
    .person-page button.btn-sort-pt
    {
        left: 33%;
        right: 33%;
        width: 34%;
    }
    .person-page button.btn-sort-dt
    {
        right: 0;
        width: 33%;
    }
    .person-page button.btn-sort.btn-selected
    {
        border: none;
        padding: 15px 0;
    }
    .person-page .hits,
    .person-page .points
    {
        font-size: 20px;
        margin: 20px 10px;
    }
    .person-page .matches
    {
        top: 245px;
    }
    .person-page .matches .match.editable .score .left,
    .person-page .matches .match.editable .score .right
    {
        width: 33%;
    }
    .person-page .matches .match.editable .score .center
    {
        width: 34%;
    }
    .person-page .matches .match.editable .score .left span, 
    .person-page .matches .match.editable .score .right span
    {
        margin-top: 10px;
    }
}