.pessoa
{
    text-align: center;
}

.pessoa .imagem
{
    width: 68px;
    float: left;
    height: 68px;    
    margin: 20px;
    border-radius: 50%;
    background-size: cover;
}

.pessoa .nome
{
    float: left;
    margin: 38px 0;
    font-size: 24px;
}

.pessoa button
{
    float: right;
    border: none;    
    font-size: 30px;
    cursor: pointer;    
}

.pessoa button.btn-back
{
    padding: 37px;
    color: #f44336;
    background-color: #feedeb;
}

.pessoa button.btn-sort
{
    color: #2196f3;
    padding: 30px 37px;
    background-color: #f0f8fe;
}

.pessoa button.btn-sort.btn-selected
{
    padding: 29px 36px;
    border: 1px solid #b0dcff;
    background-color: #d2ebff;
}

.pessoa button.btn-sort.btn-sort-asc svg:nth-child(2),
.pessoa button.btn-sort.btn-sort-desc svg:nth-child(1)
{
    display: none;
}

.pessoa button span
{
    display: block;
    font-size: 12px;
}

.pessoa .pontos,
.pessoa .acertos
{
    float: right;
    font-size: 24px;
    color: #9c27b0;
    margin: 38px 20px;
    font-weight: bold;
}

.jogos
{
    left: 0;
    right: 0;
    bottom: 0;
    top: 188px;
    overflow-y: auto;
    position: absolute;
    border-top: 1px solid #ddd;
}

.jogos .jogo
{
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
}

.jogos .jogo:hover
{
    background-color: #eee;
}

.jogos .jogo:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}

.jogos .jogo .info-left
{
    top: 44px;
    left: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 4px;
}

.jogos .jogo .info-right
{
    top: 42px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.jogos .jogo .info-2,
.jogos .jogo .info-3
{
    text-align: center;
}

.jogos .jogo .score
{
    width: 100%;
    display: table;
}

.jogos .jogo .score img
{
    width: 48px;
    height: 32px;
    margin: 8px 0;
}

.jogos .jogo .score span
{
    padding: 0 5px;
    line-height: 20px;
    text-transform: uppercase;
}

.jogos .jogo .score .left
{
    width: 38%;
    float: left;
    text-align: right;
}

.jogos .jogo .score .left img,
.jogos .jogo .score .left span
{
    float: right;
    display: block;    
}

.jogos .jogo .score .center
{
    width: 24%;
    float: left;
    padding: 2px;
    line-height: 20px;
    text-align: center;
}

.jogos .jogo .score .center .palpite
{
    font-size: 14px;
    font-weight: bold;
}

.jogos .jogo .score .center span:nth-child(2)
{
    font-size: 12px;
}

.jogos .jogo .score .right
{
    width: 38%;
    float: left;
    text-align: left;
}

.jogos .jogo .score .right img,
.jogos .jogo .score .right span
{
    float: left;
    display: block;    
}

.jogos .jogo .score .left span,
.jogos .jogo .score .right span
{
    line-height: 0;
    font-size: 18px;
    padding: 12px 10px;
}