.pessoa
{
    text-align: center;
}

.pessoa .imagem
{
    width: 68px;
    float: left;
    height: 68px;    
    margin: 20px;
    border-radius: 50%;
    background-size: cover;
}

.pessoa .nome
{
    float: left;
    margin: 38px 0;
    font-size: 24px;
}

.pessoa button
{
    float: right;
    border: none;    
    font-size: 30px;
    cursor: pointer;
    padding: 30px 37px;  
}

.pessoa button.btn-back
{
    color: #f44336;
    background-color: #feedeb;
}

.pessoa button.btn-sort
{
    color: #2196f3;
    background-color: #f0f8fe;
}

.pessoa button.btn-sort.btn-selected
{
    padding: 29px 36px;
    border: 1px solid #b0dcff;
    background-color: #d2ebff;
}

.pessoa button.btn-sort.btn-sort-asc svg:nth-child(2),
.pessoa button.btn-sort.btn-sort-desc svg:nth-child(1)
{
    display: none;
}

.pessoa button span
{
    display: block;
    font-size: 12px;
}

.pessoa .pontos,
.pessoa .acertos
{
    float: right;
    font-size: 24px;
    color: #9c27b0;
    margin: 38px 20px;
    font-weight: bold;
}

.pessoa .pessoa-jogos
{
    left: 0;
    right: 0;
    bottom: 0;
    top: 188px;
    overflow-y: auto;
    position: absolute;
    border-top: 1px solid #ddd;
}

.pessoa .pessoa-jogos .pessoa-jogo
{
    padding: 10px;
    position: relative;
    transition: all .3s ease;
}

.pessoa .pessoa-jogos .pessoa-jogo.habilitado
{
    cursor: pointer;
}

.pessoa .pessoa-jogos .pessoa-jogo.habilitado:hover
{
    background-color: #eee;
}

.pessoa .pessoa-jogos .pessoa-jogo:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}

.pessoa .pessoa-jogos .pessoa-jogo .info-left
{
    top: 44px;
    left: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 4px;
}

.pessoa .pessoa-jogos .pessoa-jogo .info-right
{
    top: 42px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.pessoa .pessoa-jogos .pessoa-jogo .info-2,
.pessoa .pessoa-jogos .pessoa-jogo .info-3
{
    text-align: center;
}

.pessoa .pessoa-jogos .pessoa-jogo .score
{
    width: 100%;
    display: table;
}

.pessoa .pessoa-jogos .pessoa-jogo .score img
{
    width: 48px;
    height: 32px;
    margin: 8px 0;
}

.pessoa .pessoa-jogos .pessoa-jogo .score span
{
    padding: 0 5px;
    line-height: 20px;
    text-transform: uppercase;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .left
{
    width: 38%;
    float: left;
    text-align: right;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .left img,
.pessoa .pessoa-jogos .pessoa-jogo .score .left span
{
    float: right;
    display: block;    
}

.pessoa .pessoa-jogos .pessoa-jogo .score .center
{
    width: 24%;
    float: left;
    padding: 2px;
    line-height: 20px;
    text-align: center;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .center .palpite-txt
{
    font-size: 14px;
    font-weight: bold;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .center .palpite-input
{
    margin-top: 5px;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .center .palpite-input input
{
    width: 40px;
    padding: 4px;
    font-size: 20px;
    text-align: center;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .center span:nth-child(2)
{
    font-size: 12px;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .right
{
    width: 38%;
    float: left;
    text-align: left;
}

.pessoa .pessoa-jogos .pessoa-jogo .score .right img,
.pessoa .pessoa-jogos .pessoa-jogo .score .right span
{
    float: left;
    display: block;    
}

.pessoa .pessoa-jogos .pessoa-jogo .score .left span,
.pessoa .pessoa-jogos .pessoa-jogo .score .right span
{
    line-height: 0;
    font-size: 18px;
    padding: 12px 10px;
}

.pessoa .pessoa-jogos .pessoa-jogo:not(.visivel) .resultado,
.pessoa .pessoa-jogos .pessoa-jogo:not(.visivel) .info-left,
.pessoa .pessoa-jogos .pessoa-jogo:not(.visivel) .info-right,
.pessoa .pessoa-jogos .pessoa-jogo:not(.visivel) .palpite-txt
{
    display: none;
}

.pessoa .pessoa-jogos .pessoa-jogo.visivel .palpite-input
{
    display: none;
}

@media (max-width:700px) 
{
    .pessoa .imagem
    {
        width: 56px;
        height: 56px;
        margin: 10px;
    }
    .pessoa .nome
    {
        margin: 20px 0;
        font-size: 20px;
    }
    .pessoa button
    {
        top: 164px;
        padding: 15px 0;
        position: absolute;        
    }
    .pessoa button.btn-back
    {
        left: 0;
        width: 33%;
    }
    .pessoa button.btn-sort-pt
    {
        left: 33%;
        right: 33%;
        width: 34%;
    }
    .pessoa button.btn-sort-dt
    {
        right: 0;
        width: 33%;
    }
    .pessoa button.btn-sort.btn-selected
    {
        border: none;
        padding: 15px 0;
    }
    .pessoa .pontos,
    .pessoa .acertos
    {
        font-size: 20px;
        margin: 20px 10px;
    }
    .pessoa .pessoa-jogos
    {
        top: 245px;
    }
    .pessoa .pessoa-jogos .pessoa-jogo.editavel .score .left,
    .pessoa .pessoa-jogos .pessoa-jogo.editavel .score .right
    {
        width: 33%;
    }
    .pessoa .pessoa-jogos .pessoa-jogo.editavel .score .center
    {
        width: 34%;
    }
    .pessoa .pessoa-jogos .pessoa-jogo.editavel .score .left span, 
    .pessoa .pessoa-jogos .pessoa-jogo.editavel .score .right span
    {
        margin-top: 10px;
    }
}